<div class="flex-center theme-header-wrapper">
  <div class="container flex-left units-gap theme-header-container">
    <a href="/" class="unit-0 theme-header-icon theme-icon-link" title="<%= __('title.home') %>">
      <i class="czs-home-l"></i>
    </a>
    <div class="flex-center text-center flex-middle unit theme-header-title theme-header-title-no-transition">
      <%= config.title %>
    </div>
    <a class="unit-0 theme-header-icon theme-icon-link theme-header-sidebar-icon" href="javascript:void(0);" title="<%= __('title.more') %>">
      <i class="czs-menu-l"></i>
    </a>
  </div>
</div>
<div class="theme-header-placeholder"></div>
