<h1 class="text-center"><%= __('title.categories') %></h1>
<ul class="text-muted top-gap-big">
  <% site.categories.sort('-length').forEach((category) => { %>
    <li>
      <a href="<%= url_for(category.path) %>">
        <%= category.name %>
      </a>
      <small>(<%= category.length %>)</small>
    </li>
  <% }) %>
</ul>