<% if (page.prev || page.next) { %>
  <nav class="theme-pagination top-gap-big text-center">
    <%-
      paginator({
        prev_text: '<i class="fa fa-angle-left" aria-hidden="true"></i>',
        next_text: '<i class="fa fa-angle-right" aria-hidden="true"></i>',
        mid_size: 1
      })
    %>
  </nav>
<% } %>
