<ul class="top-gap-big text-muted">
  <% page.posts.forEach((post, index) => { %>
    <li>
      <a href="<%= url_for(post.path) %>">
        <%= post.title %>
      </a>
    </li>
  <% }); %>
</ul>