<h1 class="text-center"><%= __('title.tags') %></h1>
<ul class="text-muted">
  <% site.tags.sort('-length').forEach((tag) => { %>
    <li>
      <a href="<%= tag.permalink %>">
        <%= tag.name %>
      </a>
      <small>(<%= tag.length %>)</small>
    </li>
  <% }) %>
</ul>